<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <section class="messages">
      <h1>So... Is it sunny over there?</h1>
      <ul>
        <% messages.forEach(message => { %>
        <li>
          <div class="message-title">
            <h3><%= message.title %></h3>
            <div class="admin-controls">
              <% if (currentUser) { %> <% if (currentUser.admin ||
              `${currentUser._id}` === `${message.user._id}`) { %>
              <a href="/messages/<%= message._id %>/edit">Edit</a>
              <a href="/messages/<%= message._id %>/delete">Delete</a>
              <% } %> <% } %>
            </div>
          </div>
          <h4><%= message.message %></h4>
          <div class="name-and-date">
            <% if (currentUser) { %>
            <h4>By: <%= message.user.username %></h4>
            <% } else { %>
            <h4>
              By: <a href="/users/log-in"><mark>Log in to see</mark></a>
            </h4>
            <% } %>
            <h4><%= message.date %></h4>
          </div>
        </li>
        <% }) %>
      </ul>
    </section>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
